#button {
    justify-content: center;
    border: solid black;
    border-radius: 10px;
    height: 300px;
    width: 90%;
    background-color: orange;
}

.container {
    text-align: center;
}

#display {
    font-size: 5em;
}