body {
    background-color: #0b0d15;
    color: white;
}

#content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 5%;
    font-size: 5em;
}


.container {
    background-color: #1b1d2c;
    width: 80%;
    height: 500px;
    border: solid black ;
    border-radius: 15px;
    margin-bottom: 13%;
    position: relative;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.container ::after, .container::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: conic-gradient( purple);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 5px;
    border-radius: 15px;
    
}

.container::before {
    filter: blur(1.5rem)
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

#cpsButton {
    border: solid black;
    border-radius: 100%;
    height: 70%;
    width: 80%;
    background-color: purple;
    font-size: 2.5em;
}

#reactionButton {
    border: solid black;
    border-radius: 100%;
    height: 70%;
    width: 80%;
    background-color: purple;
    font-size: 2.5em;
}

#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 30%;
}

#grid > button {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: purple;
    border: solid black 3px;
}

#grid > button:hover {
    background-color: rgb(89, 4, 89);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
