#content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    border: solid black;
    border-radius: 10px;
    width: 90%;
    margin-bottom: 5px;
}

.container {
    width: 90%;
}

#button {
    border: solid black;
    border-radius: 10px;
    height: 150px;
    width: 100%;
    background-color: orange;
}


#display {
    font-size: 5em;
}