.start {
    background-color: green;
    width: 400px;
    height: 200px;
}

.getReady {
    background-color: orange;
    width: 400px;
    height: 200px;
}

.stop {
    background-color: red;
    width: 400px;
    height: 200px;
}

.display {
    font-size: 5rem;
    font-family: monospace;
}
